<c-vars label="" id="" help_text="" error="" class="" />
<div class="w-full mb-4 {{ class|default('') }}">
  {% if label %}
  <label for="{{ id }}" class="block text-sm font-medium mb-1 text-gray-700 dark:text-neutral-300">
    {{ label }}
  </label>
  {% endif %}
  {{ slot }}
  {% if help_text %}
  <p class="mt-1 text-sm text-gray-500 dark:text-neutral-500">{{ help_text }}</p>
  {% endif %}
  {% if error %}
  <p class="mt-1 text-sm text-red-600 dark:text-red-400" role="alert">{{ error }}</p>
  {% endif %}
</div>
