from django.apps import AppConfig


class AccountsConfig(AppConfig):
    default_auto_field = "django.db.models.BigAutoField"
    name = "apps.accounts"
    verbose_name = "Accounts"

    def ready(self):
        """Import admin module to register models with the admin site."""
        import apps.accounts.admin.user_admin  # noqa: F401