from django.apps import AppConfig


class WebhooksConfig(AppConfig):
    default_auto_field = "django.db.models.BigAutoField"
    name = "apps.core.webhooks"
    label = "webhooks_core"  # avoid clash with apps.payments.wompi's "webhooks"
    verbose_name = "Webhooks"